.btn {
  width: 100%;
  border: 3px solid rgb(47, 175, 21);
  background: none;
  aspect-ratio: 1 / 1;
  font-size: 2rem;
  text-transform: uppercase;
  padding: .3rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.btn.active {
  background-color: hsl(110, 30%, 43%);
  color: white;
}

.btn.inactive {
  opacity: .3;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: hsl(133, 100%, 75%);
}